
<h2>Index</h2>

<p>
    <a href="@Url.Action("AddOrEdit","MVCProduct")" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Create New</a>
</p>
<table class="table" id="productTable">

    <thead class="table-heading" style="background-color:black;color:white">
        <tr>
            <th>
            Id
            </th>
            <th>
               Name
            </th>
            <th>
               Description
            </th>
            <th>
           Sale Price
            </th>
            <th>
              Purchase Price
            </th>
            <th>
               Type
            </th>
            <th>
             Opening Quantity
            </th>

            <th>
             Date
            </th>
            <th>Action</th>
        </tr>

        </thead>
  <tbody>

  </tbody>

</table>


@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if(successMessage != '')
            {
                alertify.success(successMessage);

            }
            successMessage = '';
        });


        function Delete(id)
        {

            alertify.confirm('Product Information','Are you sure to delete this record ?',function(){

                window.location.href = '@Url.Action("Delete","MVCProduct")/'+id;

            },null);
        }


       

    </script>

}