
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ILayout.cshtml";
}

<div class="row">

    <div class="well fc-bg">
        <h2 style="color:skyblue">Company List</h2>
    </div>
</div>



<a href="@Url.Action("AddOrEdit","Company")" class="btn btn-sm btn-info"><i class="fa fa-plus-circle"></i>Create New</a>


<table class="table" id="CompanyListTable">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Phone
            </th>
            <th>
                Cell
            </th>
            <th>
                Email
            </th>
            <th>
                TRN
            </th>
            <th>
                Logo
            </th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody></tbody>
</table>
<input type="text ><i class="glyphicon glyphicon-pencil" ></i>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '') {
                alertify.success(successMessage);

            }
            successMessage = '';
        });

       

    </script>


    }




