
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("AddOrEdit","MVCContacts")" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Create New</a>
</p>

<table class="table" id="ContactListTable">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>

            <th>
                Type
            </th>
            <th>
                BillingPersonName
            </th>
            <th>
                Company Name
            </th>
            <th>
                Billing TRN
            </th>

            <th>
                Status
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>

</table>



@section scripts{
    <script>

       
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'                                       
               
            if(successMessage != '')
            {
                alertify.success(successMessage);

             
            }

            if(successMessage != '')
            {
                successMessage = '';
                delete('@TempData["SuccessMessage"]');
            }
             
        });
       

        function Delete(id)
        {

            alertify.confirm('Company Information','Are you sure to delete this record ?',function(){

                window.location.href = '@Url.Action("Delete","MVCContacts")/'+id;

            },null);
        }






    </script>

}
