@model InvoiceDisk.Models.Example
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
        

    <a href="/Example/GeneraPDF">Genrate Pdf</a>

    <div> 
        <label>Name</label>
        <label>@Model.Name</label>
        <label>UrName</label>
        <label>@Model.SurName</label>
    </div>
</body>
</html>
