


<h2 style="color:skyblue">Qutation List</h2>

<p>
    <a href="@Url.Action("AddOrEdit","MVCQutation")" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>Create New</a>
</p>


<table class="table" id="QutationListTable">
    <thead class="table-heading table-responsive" style="background-color:black;color:white">
        <tr>
            <th>
                ID
            </th>
            <th>
                Qutation Number
            </th>
            <th>
                Ref Number
            </th>
            <th>
               Due Date
            </th>
            <th>
                Discount %
            </th>
            <th>
                Status
            </th>
         </tr>
    </thead>
    <tbody></tbody>
</table>
<div id="loaderQuationList"></div>
@*<label>dhj</label>*@